@using PagedList;
@using PagedList.Mvc;

@model IPagedList<IYCDashboard.Models.DB.Area>

@{
    ViewBag.Title = "Add / Edit Areas";
    Layout = "~/Views/Shared/_sharedLayout.cshtml";
}

<br />
<h4>Areas</h4>
<hr />
<p>
    @Html.ActionLink("Add New Area", "Create", null, new { @class = "btn btn - link" })
</p>
<div class="panel panel-warning" data-widget="{&quot;draggable&quot;: &quot;false&quot;}" data-widget-static="">

    <div class="panel-body no-padding">
        <table class="table table-striped">
            <thead>
                <tr class="warning">
                    <th>
                        @Html.DisplayNameFor(model => model.First().AreaName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().City.CityName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().State.StateName)
                    </th>
                    <th></th>
                </tr>
            </thead>
            @if (Model.Count() == 0)
            {
                <tbody>
                    <tr>
                        <td colspan="4">
                            @Html.Label("Records not found", htmlAttributes: new { @class = "col-sm-2 control-label" })
                        </td>
                    </tr>
                </tbody>
            }
            else
            {
                foreach (var item in Model)
                {
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.AreaName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.City.CityName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.State.StateName)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.AreaId }, new { @class = "btn btn-link" }) |
                                @Html.ActionLink("Details", "Details", new { id = item.AreaId }, new { @class = "btn btn-link" }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.AreaId }, new { @class = "btn btn-link" })
                            </td>
                        </tr>
                    </tbody>
                }
            }
        </table>
        @Html.PagedListPager(Model, pageNumber => Url.Action("Index", new { pageNumber }))
    </div>
</div>