@model IEnumerable<IYCDashboard.Models.DB.Category>

@{
    ViewBag.Title = "Add / Edit Categories";
    Layout = "~/Views/Shared/_sharedLayout.cshtml";
}


<br />
<h4>Categories</h4>
<hr />

<p>
    @Html.ActionLink("Create New Category", "Create",null, new { @class = "btn btn-link" })
</p>
<div class="panel panel-warning" data-widget="{&quot;draggable&quot;: &quot;false&quot;}" data-widget-static="">

        <div class="panel-body no-padding">
            <table class="table table-striped">
                <thead>
                    <tr class="warning">
                        <th>
                            @Html.DisplayNameFor(model => model.CategoryName)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                    @foreach (var item in Model)
            {
                        <tbody>
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CategoryName)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.CategoryID }, new { @class = "btn btn-link" }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.CategoryID }, new { @class = "btn btn-link" }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.CategoryID }, new { @class = "btn btn-link" })
                                </td>
                            </tr>
                            </tbody>
                            }

</table>
        </div>
    </div>